@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
.primary-color {
    color: #004861;
}
.bg-secondary {
    background-color: #00a3c8;
}
.bg-color {
    background-color: #545f83;
}
.bg-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}
.glass-effect {
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: #00000033;
    border: 1px solid #8080804d;
}
