.primary-color {
    color: #004861;
}
.bg-secondary {
    background-color: #00a3c8;
}
.bg-color {
    background-color: #004861;
}
.bg-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}
.glass-effect {
    backdrop-filter: blur(5px) saturate(181%);
    -webkit-backdrop-filter: blur(5px) saturate(181%);
    background-color: rgb(255, 255, 255, 0.2);
    border: 1px solid rgba(209, 213, 219, 0.3);
}
